@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  height: 100vh;
  font-family: "Roboto:italic", sans-serif;
  background-image: url("/img/t-logo.svg");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center right;
}

.bg-dark {
  background-color: #272727 !important;
}

nav {
  width: 100%;
}

.nav-item {
  padding: 20px;
}

.nav-link {
  font-size: 20px;
}

.dropdown-menu {
  padding: 20px;
  font-size: 20px;
  transform: translateY(-5px);
}

.dropdown-item {
  transition: 0.7s ease;
}

.dropdown-item:hover {
  color: #ff351a;
}

.dropdown-item:focus {
  background-color: #fff;
}

#active {
  color: #ff351a;
}

#logo {
  padding: 10px 20px;
  width: 15%;
}

.carousel-cell {
  height: auto;
}

.carousel-cell {
  width: 100%;
  height: 500px;
  padding: 20px;
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  filter: contrast(1.1);
}

.carousel-cell h3 {
  color: #fff;
  background-color: gray;
  font-size: 18px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: #000 2px 2px 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: #000 2px 2px 10px;
}

.carousel-cell img {
  width: auto;
  height: 100%;
}

/* INDEX END */
/* FOOTER START */

footer {
  padding: 50px 0 0 0;
}

.footer-container {
  max-width: 100%;
  margin: auto;
  padding: 50px;
  background-color: #272727;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  color: gray;
  box-shadow: #000 2px 2px 5px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info-content {
  display: flex;
  justify-content: center;
  padding: 0 10px;
  align-items: center;
}

.info-content i {
  font-size: 30px;
}

.info-content p {
  padding: 10px;
  margin-bottom: 0;
}

.social-media {
  margin: 20px 0;
  text-align: center;
}

.social-media a {
  color: #ff351a;
  margin-right: 25px;
  font-size: 30px;
  text-decoration: none;
}

.social-media a i {
  transition: 0.7s ease;
}

.social-media a i:hover {
  transform: scale(1.2);
}

.right-col h2 {
  font-size: 28px;
}

.border-f {
  width: 100px;
  height: 4px;
  background-color: #ff351a;
}

.info-hours {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* FOOTER END */
/* FULL HOUSE START */

.fh-top {
  text-align: center;
  color: #fff;
  margin: 20% 0;
}

.fh-top h2 {
  padding: 30px;
  font-size: 25px;
}

.fh-top a {
  margin: 10px;
  text-decoration: none;
  color: #000;
  background-color: lightgray;
  padding: 13px;
  font-family: "Roboto", sans-serif;
  border-radius: 10px;
  transition: 0.8s ease;
  font-size: 18px;
}

.fh-top a:hover {
  background-color: #ff351a;
}

.fhp {
  margin-top: 5%;
}

.fhp h3 {
  padding: 20px;
  color: #fff;
  font-size: 1em;
}

.fhp-img {
  margin: 0.5vw;
  font-size: 0;
  display: flex;
  flex-flow: row wrap;
}

.fhp-img div {
  flex: auto;
  width: 550px;
  margin: 0.5vw;
  text-align: center;
}

.fhp-img div a img {
  width: 90%;
  height: auto;
}

.residential-top {
  text-align: center;
  padding: 20px;
  color: #fff;
}

.residential-top h2 {
  margin-top: 50px;
  padding: 30px;
  font-size: 2em;
}

.residential-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  text-align: center;
  margin-bottom: 5%;
}

.links {
  padding: 15px;
  line-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.links a {
  font-size: 15px;
  padding: 5px 30px;
}

.res-box {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: gray;
  width: 600px;
  height: 470px;
  margin: 10px;
  transition: 0.8s ease;
  cursor: pointer;
  position: relative;
}

.res-box:hover {
  transform: translateY(-5px);
  transform: scale(1.04);
  filter: grayscale();
}

.res-box h3 {
  z-index: 2;
  color: #fff;
  background-color: #383838;
  width: 600px;
  padding: 20px;
  font-size: 20px;
}

.res-box a img {
  position: absolute;
  width: 600px;
  height: 470px;
  top: 0;
  left: 0;
  filter: contrast(1.1);
}

.card-group {
  margin: 30px;
}

.card {
  margin-top: 25px;
  margin: 15px;
  border-radius: 10px;
  background-color: #393939;
  color: #fff;
  box-shadow: #000 2px 2px 5px;
}

.card-img-top {
  padding: 20px;
  filter: contrast(1.1);
}

.text-muted {
  color: #ff351a !important;
  font-size: 1.2em;
}

.overlay {
  position: absolute;
  height: 105%;
  width: 100%;
  background-color: #fff;
  z-index: 2;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay div {
  text-align: center;
}

.overlay div video {
  width: 80%;
  height: auto;
}

#last {
  width: 80%;
  height: auto;
}

.back-to-the-top {
  bottom: 0;
  right: 0;
  position: fixed;
  transition: 0.6s ease;
}

.back-to-the-top a {
  color: #ff351a;
  font-size: 50px;
  margin: 5px;
  border: none;
}

.back-to-the-top:hover {
  padding: 10px;
  transform: scale(1.1);
}

/* Contact CSS */

.right-contact {
  padding: 20px;
}

.container-contact {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding: 5em;
  margin-top: 5%;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  box-shadow: 0 0 20px 0 #000;
  border-radius: 3px;
}

.wrapper > * {
  padding: 1em;
}

.fa {
  font-size: 1.2em;
  padding: 5px;
}

/* ------------------- */
/* COMPANY INFORMATION */
/* ------------------- */

.company-info {
  background: #272727;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
}

.company-info h3 {
  font-size: 2em;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.company-info ul li:nth-child(1) {
  font-size: 13px;
}
/* ------- */
/* CONTACT */
/* ------- */

.contact {
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* ---- */
/* FORM */
/* ---- */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: solid 1px #ff351a;
  border-radius: 4px;
}

.contact form textarea {
  resize: none;
}

.contact form button {
  background: #ff351a;
  border: 0;
  color: #e4e4e4;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.contact form button:hover,
.contact form button:focus {
  background: #141414;
  color: #ffffff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.fas {
  margin: 10px;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media only screen and (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info {
    border-radius: 4px 0 0 4px;
  }

  .contact {
    border-radius: 0 4px 4px 0;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}

@media screen and (max-width: 1400px) {
  .carousel-cell {
    height: auto;
  }

  .carousel-cell img {
    height: 100%;
    width: 100%;
  }

  .card-group {
    flex-direction: column;
  }

  #logo {
    width: 35%;
  }

  .carousel-cell h3 {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 990px) {
  .carousel-cell {
    height: auto;
  }

  .carousel-cell img {
    width: 100%;
    height: auto;
  }

  .carousel-cell h3 {
    font-size: 15px;
  }

  #logo {
    width: 40%;
  }

  .res-box {
    width: 300px;
    height: 200px;
  }

  .res-box a img {
    width: 300px;
    height: 200px;
  }

  .fh-top {
    text-align: center;
    color: #fff;
    margin: 50% 0;
  }

  .nav-link {
    font-size: 15px;
    padding: 0;
  }

  .dropdown-menu {
    font-size: 1.2em;
  }

  .footer-container {
    max-width: 600px;
    justify-content: center;
  }

  .right-col {
    margin-top: 20px;
    display: none;
  }

  .left-col {
    width: 100%;
    text-align: center;
  }

  .info-hours {
    font-size: 12px;
  }

  .info-content p {
    font-size: 10px;
  }

  .right-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-group {
    margin: 30px;
  }

  .card {
    margin-top: 25px;
    margin: 20px;
    border-radius: 10px;
    background-color: #393939;
    color: #fff;
    box-shadow: #000 2px 2px 5px;
  }
}

@media screen and (max-width: 500px) {
  .carousel-cell {
    height: auto;
  }

  .carousel-cell img {
    height: auto;
  }

  .carousel-cell h3 {
    font-size: 15px;
  }

  .fh-top {
    text-align: center;
    color: #fff;
    margin: 65% 0;
  }
}
